{% extends "periodicals/base.html" %}
{% load i18n %}
{% load highlight %}
	


{% block title %}{{block.super}} - Periodical Search{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;&gt;&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;&gt;&nbsp;Periodical Search</div>
{% endblock breadcrumbs %}

{% block sidebar_search %}
<div class="search-form">
  <form method="get" action=".">
    <div class="fieldWrapper">
      {{form.q}}<input type="submit" value="Search">
    </div>
  </form>
</div>
<div>
	{% if has_facets %}
        <h4>{% trans "Refine your search" %}</h4>
        <dl>
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'periodicals/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </dl>
    {% endif %}
</div>
{% endblock sidebar_search %}

{% block innercontent %}
{% block obj_detail %}
<div class="search_detail">
<h1>Periodical Search</h1>

</div>
{% endblock obj_detail %}
{% if query %}
	{% block object_list %}
		<div class="search-results">
	  	{% if page.object_list %}
		  	<h2>Search Results</h2>
		  	 {% if page.paginator.count %}
	            {% blocktrans with start=page.start_index end=page.end_index total=page.paginator.count %}
	                Showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong> of <strong>{{ total }}</strong> results.
	            {% endblocktrans %}
            {% endif %} 
			{% for result in page.object_list %}
			  <p>
			    <div class="result-link">
			    	<a href="{{result.object.get_absolute_url}}" class="result-title">
			    		{% highlight result.object.title with query html_tag "mark" max_length 255 %}
			    		
			    	</a>
			    </div>
			    <div class="result-summary">
			    	{% highlight result.object.announce with query html_tag "mark" max_length 255 %}
			    	{% highlight result.object.content with query html_tag "mark" max_length 50 %}
			    	<small style="color: grey;">
			    		{{result.object.issue.periodical.name}} {{result.object.issue.display_year}} {{result.object.issue.display_name}}
			    	</small>
			    </div>
			  </p>
			{% endfor %}
	  	{% else %}
	  		<h2>No matching articles found.</h2>
		  	{% if suggestion %}
		  		<p>
		        	{% url 'haystack_search' as search_url %}
		        	{% blocktrans %}
		            	Did you mean <a href="{{ search_url }}?q={{ suggestion }}">"{{ suggestion }}"</a>?
					{% endblocktrans %}
				</p>
			{% endif %}
	  	
	  	{% endif %}
	 	</div>
	{% endblock object_list %}
{% endif %}
{% block pagination %}
<ul class="pager">
  <li class="previous">{% if page.has_previous %}<a href="?q={{query}}&page={{ page.previous_page_number }}">previous</a>{% endif %}</li>
  <li class="current">Page {{ page.number }} of {{ page.paginator.num_pages }}</li>
  <li class="next">{% if page.has_next %}<a href="?q={{query}}&page={{ page.next_page_number }}">next</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endblock innercontent %}
